
.host__van-img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  @media screen and (max-width: 480px) {
    .host__van-img {
      margin: 10px;
    }
  }
  

  @media screen and (min-width: 1024px) {
    .host__van-img {
      margin: 40px;
    }
  }
  